/* src/components/PasswordPage/PasswordPage.css */ 
.password-page {
   display: flex; 
   flex-direction:column; 
   align-items: center; 
   justify-content: center; 
   height: 100vh;
   background-image: url('/src/Assets/itstime.gif'); 
   background-size: cover; 
   background-position: center; 
   font-family: Arial, sans-serif; } 
   
.password-page h1 { 

  font-family: Lausanne, sans-serif;
  font-size: 2rem; 
  letter-spacing: 0.5rem;
  margin-bottom: 2rem; 
  color: #ffffff; } 

.password-page form { 
  display: flex; 
  flex-direction: column; 
  align-items: center; } 

.password-page input { 
  padding: 1.3rem; 
  font-size: 2rem; 
  margin-bottom: 2rem; 
  border: 1px solid #ccc; 
  border-radius: 100px; } 

.password-page button 
{ padding: 0.5rem 1rem; 
  font-size: 1rem; 
  background-color: #ff80c2; 
  color: rgb(255, 255, 255); 
  border: none; 
  border-radius: 100px;; 
  cursor: pointer; } 

.password-page button:hover { 
  background-color: #40ff00; } 

.password-page .error { 
  color: rgb(255, 0, 0); 
  margin-top: 1rem; }