.hero {
  padding: 10px 35px;
}

.hero h1 {
  font-size: 3rem;
}

.hero-p {
  margin: 10px;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .hero {
    padding: 5px 20px; /* Smaller padding on mobile */
  }

  .hero h1 {
    font-size: 2rem; /* Smaller font size for h1 on mobile */
  }

  .hero-p {
    margin: 5px; /* Smaller margin for paragraphs on mobile */
  }
}