.body{
  background-color:  #fffdf5ca;
  background-image: url('https://www.transparenttextures.com/patterns/ecailles.png'); /* Paper texture */
  color: #ffffffa7;
  min-height: 100vh;
  margin: 2rem;
  overflow-x: hidden; /* Prevent horizontal scroll on the body */
}




.pages a {
  font-size: 1rem;
  display: block;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #ffffff; /* Typical link color */
  text-decoration: none;
  align-items: flex-start;
}

