.container-page {
  font-family: Lausanne, sans-serif;
  font-size: 2rem;
    font-weight: 600;
    line-height: 100%;

  display: flex;
  justify-content: center;
  margin: 0;
  gap: 2rem;
  flex-grow: 2;
  align-items: flex-start;
}
