main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container-page {
  font-family: Lausanne, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 100%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 2rem;
  align-items: flex-start;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  opacity: 0;
  transition: height 0.5s ease, opacity 0.5s ease;
  pointer-events: none;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 2;
}

.container-page.visible {
  opacity: 1;
  pointer-events: auto;
  height: 80vh;
}
