.aboutyou-modal-content-container {
    font-size: 28px; /* Set the font-size to 28px for larger screens */
  line-height: 40px;
  }

  .aboutyou-section {
    margin-bottom: 1em;
}

/* Additional styles for headers and links */
.aboutyou-modal-content-container h2,
.caboutyou-modal-content-container h3,
.aboutyou-modal-content-container h4 {
    margin-top: 1em;
}

.aboutyou-modal-content-container p {
    margin: 1em 0;
}

.aboutyou-modal-content-container a {
    display: block;
    margin-top: 1em;
    color: #1a0dab; /* Typical link color */
    text-decoration: none;
}

.aboutyou-modal-content-container a:hover {
    text-decoration: underline;
}
  .aboutyou-image-gallery {
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: space-around; /* Evenly space the images */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Wrap to the next line if necessary */
    gap: 0px; /* Add spacing between images */
    margin: 20px 0; /* Add space above and below the gallery */
  }
  
  .aboutyou-image-gallery img {
    max-width: 250px; /* Limit the width of the images */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 8px; /* Optional: Add rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    transition: transform 0.3s ease; /* Smooth hover effect */
  }
  
  .aboutyou-image-gallery img:hover {
    transform: scale(1.1); /* Slightly enlarge the image on hover */
  }
  
  
  .aboutyou-image-gallery img:hover {
    transform: scale(1.4);
  }
  
  @media screen and (max-width: 768px) {
    .aboutyou-image-gallery img {
      max-width: 80px;
    }
  }