
.carhartt-image-gallery {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px 25px;
  gap: 20px; /* Space between the images and video */
}

.carhartt-image-gallery img {
  width: 100%;      /* Ensure images do not stretch too large */
  height: auto;     /* Maintain aspect ratio */

}


.carhartt-image-gallery video {
  width: 100%;
  height: auto;        /* Maintain aspect ratio */
  object-fit: cover;   /* Ensure the video fills the container and cuts excess */
  margin-bottom: 5%;
  max-width: 100%;
}


@media screen and (max-width: 768px) {
  .carhartt-image-gallery img {
    max-width: 45%; /* Increase max-width for better visibility on small screens */
  }

  .carhartt-image-gallery video {
    max-width: 70%; /* Allow the video to take more space */
  }
}
