.dayone-modal-content-container {
  padding: 50px; /* Padding for the main container */
 font-size: 28px; /* Set the font-size to 28px for larger screens */
  line-height: 40px;
}

.modal-section {
  margin-bottom: 40px; /* Space between sections */
  padding: 20px; /* Add padding inside each section */
  background-color: rgb(245, 242, 237); /* Background color for sections */
  border-radius: 15px; /* Rounded corners for sections */
  
}

.modal-section h2 {
  margin-top: 0; /* Remove extra margin for the section heading */
}

.dayone-bold-text {
  font-weight: bold;
}

ul {
  list-style-type: disc; /* Use bullet points */
  padding-left: 20px;    /* Indent the list */
  margin: 10px 0;        /* Add space above and below the list */
}

li {
  display: block;    /* Ensure items are displayed as list items */
  margin-bottom: 10px;   /* Add spacing between items */
  line-height: 1.6;      /* Improve readability with proper line spacing */
}
.dayone-image-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 25px;
}
.logos {
  display: flex;
  align-items: center; /* Vertically align logos */
  gap: 4rem; /* Space between the logos */
  margin: 100px 0 100px 0; /* Space above and below the logos */
}

.logos img {
  max-height: 60px; /* Set logo height */
  object-fit: contain; /* Maintain aspect ratio */
}

section {
  margin-bottom: 100px; /* Space between cases/sections */
}

.dayone-image-gallery img {
  max-width: 150px; /* Adjust the size as needed */
  margin: 10px;
  transition: transform 0.3s ease;
}

.dayone-image-gallery img:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 768px) {
  .dayone-image-gallery img {
    max-width: 120px; /* Adjust the size for mobile as needed */
  }

}