
.dayone-image-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 25px;
}
.logos {
  display: flex;
  align-items: center; /* Vertically align logos */
  gap: 4rem; /* Space between the logos */
  margin: 100px 0 100px 0; /* Space above and below the logos */
}
..key {
  list-style: none; /* Verhindert Standard-Aufzählungszeichen */
  padding: 0;
  margin: 0;
}

.key li {
  line-height: 2.2rem; /* Zeilenhöhe für Listenelemente */
  margin-bottom: 1rem; /* Abstand zwischen den Listenelementen */
  font-size: 1.6rem; /* Optional: Anpassung der Schriftgröße */
}

.logos img {
  max-height: 60px; /* Set logo height */
  object-fit: contain; /* Maintain aspect ratio */
}

section {
  margin-bottom: 100px; /* Space between cases/sections */
}

.dayone-image-gallery img {
  max-width: 150px; /* Adjust the size as needed */
  margin: 10px;
  transition: transform 0.3s ease;
}

.dayone-image-gallery img:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 768px) {
  .dayone-image-gallery img {
    max-width: 120px; /* Adjust the size for mobile as needed */
  }

}

