.dayone-modal-content-container {
  padding: 25px;
}

.dayone-bold-text {
  font-weight: bold;
}
ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
}
li {
  margin-bottom: 8px;
  display: list-item;
}
.dayone-image-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}
.logos {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.logos img {
  max-height: 25px;
  object-fit: contain;
}

.dayone-image-gallery img {
  max-width: 150px; /* Adjust the size as needed */
  margin: 10px;
  transition: transform 0.3s ease;
}

.dayone-image-gallery img:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 768px) {
  .dayone-image-gallery img {
    max-width: 120px; /* Adjust the size for mobile as needed */
  }
}