
.dayone-image-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 25px;
}

.dayone-image-gallery img {
  max-width: 100%; /* Adjust the size as needed */
  margin: 10px;
  transition: transform 0.3s ease;
}


.dayone-image-gallery img:hover {
  transform: scale(1.4);
}

.dayone-video-gallery {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
}

.dayone-video-gallery video {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}


.filter-chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* Space between the chips */
  margin: 0.2rem 0;
}

.filter-chip {
  padding: 6px 12px;
  background-color: #9d8f6376; /* Light gray background */
  border-radius: 3rem; /* Makes the chip look like a bubble */
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.filter-chip:hover {
  background-color:#ffffff;
  border-color: #001effad;
}

.filter-chip.active {
  background-color: #ffffff; /* Blue when active */
  color: #09ff00;
  border-color: #0056b3;
}


@media screen and (max-width: 768px) {
  .dayone-image-gallery img {
    max-width: 120px; /* Adjust the size for mobile as needed */
  }

}

