.edited-modal-content-container {
  padding: 25px;
}

.edited-bold-text {
  font-weight: bold;
}

.edited-image-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.edited-image-gallery img {
  max-width: 700px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.edited-image-gallery img:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 768px) {
  .edited-image-gallery img {
    max-width: 80px;
  }
}