
  .plastic-image-gallery {
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: space-around; /* Evenly space the images */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Wrap to the next line if necessary */
    gap: 0px; /* Add spacing between images */
    margin: 20px 0; /* Add space above and below the gallery */
  }
  
  .plastic-image-gallery img {
    max-width: 60%; /* Limit the width of the images */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 8px; /* Optional: Add rounded corners */
   
    transition: transform 0.3s ease; /* Smooth hover effect */
  }
  
  .plastic-image-gallery img:hover {
    transform: scale(1.1); /* Slightly enlarge the image on hover */
  }
  
  
  .plastic-image-gallery img:hover {
    transform: scale(1.4);
  }
  
  @media screen and (max-width: 768px) {
    .plastic-image-gallery img {
      max-width: 80px;
    }
  }