
.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0px;
}

.toggler--slider {
  width: 40px;
  height: 15px;
  background-color: #000000;
  border-radius: 2rem;
  margin-inline: 4px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(249, 240, 172);
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: rgb(252, 250, 226);
  border-radius: 50%;
}

nav.dark .toggler--slider {
  background-color: #fff3ed;
  border-color: #fff3ed;
  justify-content: flex-end;
}

nav.dark .toggler--slider--circle {
  background-color: #000000;
}