footer {
  margin-top: 1rem;
  font-family: Lausanne, sans-serif;
  padding: 1rem;
  background-color:  #fffdf5ca;
  background-image: url('https://www.transparenttextures.com/patterns/ecailles.png'); /* Paper texture */
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0; /* Ensure footer does not overlap content */
}

footer.dark {
  background-color: #000000;
  color:  #fffdf5ca;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 5px 10px; /* Reduced padding */
    font-size: 0.8rem;  /* Smaller font size for mobile */
  }
}