@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueMontreal';
  src: url('./Fonts/OTNeueMontreal-BoldExtraSqueezed.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
} 
  @font-face {
    font-family: 'NeueMontreal';
    src: url('./Fonts/OTNeueMontreal-BoldExtraSqueezed.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
