/* Global Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh; /* Ensure that body takes up full screen */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Dark Mode */
body.body-dark {
  background-color: #c3d8e9; /* Light Blue Background for Dark Mode */
  color: #fff3ed; /* Light text color for Dark Mode */
}

/* Light Mode */
body.body-light {
  background-color: #ffffff; /* White Background for Light Mode */
  color: #2a3f4f; /* Dark text color for Light Mode */
}

/* You can also style the nav and footer specifically if needed for light/dark mode */
nav.dark {
  background-color: #c3d8e9; /* Blue for Dark Mode */
  color: #fff3ed; /* Light text for Dark Mode */
}

footer.dark {
  background-color: #c3d8e9; /* Blue for Dark Mode */
  color: #fff3ed; /* Light text for Dark Mode */
}
